<h1>Add New Sub</h1>
<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="_form_authenticity_token">
  <label>Title:
    <input type="text" name="sub[title]" >
  </label>

  <label>Description:
    <input type="text" name="sub[description]" >
  </label>

  <input type="submit" value="Add Sub">
</form>
